*~
/.deps-installed
{% if uses_uv %}
/.venv/
{% endif %}
{% if uses_npm %}
/node_modules/
{% endif %}
{% if has_python %}
__pycache__/
{% endif %}
{% if uses_ruff %}
/.ruff_cache/
{% endif %}
{% if uses_mypy %}
/.mypy_cache/
{% endif %}
