[project]
name = "{{ project_name_slug }}"
version = "{{ project_version }}"
readme = "README.md"
requires-python = "{% if max_python_version == min_python_version %}=={{ max_python_version }}.*{% else %}>={{ min_python_version }},<{{ max_python_version | increment_python_version }}{% endif %}"
license = "MIT"
license-files = ["LICENSE"]
dependencies = []

[dependency-groups]
dev = [
{% for package, version in python_packages | dictsort %}
  "{{ package }}=={{ version }}",
{% endfor %}
]

[build-system]
requires = ["{{ uv_build_spec }}"]
build-backend = "uv_build"
{% if uses_bump_my_version %}

[tool.bumpversion]
[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = "version = \"{current_version}\""
replace = "version = \"{new_version}\""
{% if is_python_package %}

[[tool.bumpversion.files]]
filename = "src/{{ project_name_slug_underscore }}/__init__.py"
search = "__version__ = \".*\""
regex = true
replace = "__version__ = \"{new_version}\""
{% endif %}
{% endif %}
{% if uses_pytest %}

[tool.coverage.run]
{% if not is_python_package %}
omit = ["tests/*"]
{% endif %}
{% endif %}
{% if uses_mypy %}

[tool.mypy]
explicit_package_bases = {% if is_python_package %}false{% else %}true{% endif +%}
mypy_path = "stubs"
namespace_packages = {% if is_python_package %}false{% else %}true{% endif +%}
pretty = true
{% if max_python_version != min_python_version %}
python_version = "{{ max_python_version }}"
{% endif %}
scripts_are_modules = true
strict = true
{% endif %}
{% if uses_pytest %}

[tool.pytest]
addopts = [
  "--cov{% if is_python_package %}={{ project_name_slug_underscore }}{% endif %}",
  "--cov-report=term-missing",
  "--strict-markers",
  "--suppress-no-test-exit-code",
]
markers = ["slow"]
{% if not is_python_package %}
pythonpath = ["."]
{% endif %}
{% endif %}
{% if uses_ruff %}

[tool.ruff]
namespace-packages = [
  ".template_files",
]
{% if max_python_version != min_python_version %}
target-version = "py{{ max_python_version | replace('.', '') }}"
{% endif %}

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  "C90",  # mccabe:*
  "D1",  # pydocstyle:undocumented-*
  "E741",  # pycodestyle:ambiguous-variable-name
  "EM",  # flake8-errmsg:*
  "FIX",  # flake8-fixme:*
{% if not is_python_package %}
  "INP001",  # flake8-no-pep420:implicit-namespace-package
{% endif %}
  "PLR09",  # refactor:too-many-*
{% if uses_pytest %}
  "PT011",  # flake8-pytest-style:pytest-raises-too-broad
{% endif %}
  "PTH",  # flake8-use-pathlib:*
  "PYI025",  # flake8-pyi:unaliased-collections-abc-set-import
  "S603",  # flake8-bandit:subprocess-without-shell-equals-true
  "S607",  # flake8-bandit:start-process-with-partial-path
  "T20",  # flake8-print:*
  "TD",  # flake8-todos:*
  "TRY003",  # tryceratops:raise-vanilla-args
  "TRY301",  # tryceratops:raise-within-try
]
{% endif %}
{% if uses_tombi %}

[tool.tombi]
{% endif %}
{% if uses_typos %}

[tool.typos]
files.extend-exclude = [
{% if uses_copier %}
  "/{{ _copier_conf.answers_file }}",
{% endif %}
]
default.extend-ignore-re = [
  "(?Rm)^.*(#|//)\\s*spellchecker: *disable-line$",
  "(?s)(#|//)\\s*spellchecker:* off.*?\\n\\s*(#|//)\\s*spellchecker:* on",
  "(#|//)\\s*spellchecker:* disable-next-line\\n.*",
]
{% endif %}

[tool.uv]
package = {% if is_python_package %}true{% else %}false{% endif +%}
