{% set content %}
name: "{{ project_name_slug }}"

devDependencies: {
{% for package, version in node_packages | dictsort %}
  "{{ package }}": "{{ version }}",
{% endfor %}
  }

{% if uses_prettier %}
prettier: {}
{% endif %}

{% if uses_stylelint %}
stylelint:
  extends:
    - stylelint-config-standard
  reportNeedlessDisables: true
{% endif %}

{% endset %}
{{ content | from_yaml | to_nice_json(indent=2) }}
