[project]
name = "{{ project_name_slug }}"
version = "{{ project_version }}"
requires-python = "=={{ python_version }}"
license = "MIT"
license-files = ["LICENSE"]
dependencies = []

[dependency-groups]
dev = [
{% for package, version in python_packages | dictsort %}
  "{{ package }}=={{ version }}",
{% endfor %}
]
{% if is_python_package %}

[build-system]
requires = ["uv_build >= 0.8.22, <0.9.0"]
build-backend = "uv_build"
{% endif %}
{% if uses_pytest %}

[tool.coverage.run]
{% if not is_python_package %}
omit = ["tests/*"]
{% endif %}
{% endif %}
{% if uses_mypy %}

[tool.mypy]
{% if is_python_package %}
explicit_package_bases = false
{% else %}
explicit_package_bases = true
{% endif %}
mypy_path = "stubs"
{% if is_python_package %}
namespace_packages = false
{% else %}
namespace_packages = true
{% endif %}
pretty = true
python_version = "{{ python_version.split(".")[:2] | join(".") }}"
scripts_are_modules = true
strict = true
{% endif %}
{% if uses_pytest %}

[tool.pytest.ini_options]
{% if is_python_package %}
addopts = "--strict-markers --suppress-no-test-exit-code --cov={{ project_name_slug }} --cov-report=term-missing"
{% else %}
addopts = "--strict-markers --suppress-no-test-exit-code --cov --cov-report=term-missing"
{% endif %}
markers = ["slow"]
{% if not is_python_package %}
pythonpath = ["."]
{% endif %}
{% endif %}
{% if uses_ruff %}

[tool.ruff]
line-length = {{ python_line_length }}
namespace-packages = [
  ".template_files",
]

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  "C90",
  "D1",
  "E741",
  "EM",
  "FIX",
{% if not is_python_package %}
  "INP001",
{% endif %}
  "PLR09",
{% if uses_pytest %}
  "PT011",
{% endif %}
  "PTH",
  "PYI025",
  "S603",
  "S607",
  "T20",
  "TD",
  "TRY003",
  "TRY301",
]
{% endif %}
{% if uses_tombi %}

[tool.tombi]
{% endif %}
{% if uses_typos %}

[tool.typos]
files.extend-exclude = [
{% if uses_copier %}
  "/{{ _copier_conf.answers_file }}",
{% endif %}
]
default.extend-ignore-re = [
  "(?Rm)^.*(#|//)\\s*spellchecker: *disable-line$",
  "(?s)(#|//)\\s*spellchecker:* off.*?\\n\\s*(#|//)\\s*spellchecker:* on",
  "(#|//)\\s*spellchecker:* disable-next-line\\n.*",
]
{% endif %}
